.fl-builder-content *, .fl-builder-content *:before, .fl-builder-content *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fl-row:before, .fl-row:after, .fl-row-content:before, .fl-row-content:after, .fl-col-group:before, .fl-col-group:after, .fl-col:before, .fl-col:after, .fl-module:before, .fl-module:after, .fl-module-content:before, .fl-module-content:after {
    display: table;
    content: " ";
}

.fl-row:after, .fl-row-content:after, .fl-col-group:after, .fl-col:after, .fl-module:after, .fl-module-content:after {
    clear: both;
}

.fl-clear {
    clear: both;
}

.fl-clearfix:before, .fl-clearfix:after {
    display: table;
    content: " ";
}

.fl-clearfix:after {
    clear: both;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.fl-visible-medium, .fl-visible-medium-mobile, .fl-visible-mobile, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col {
    display: none;
}

.fl-row, .fl-row-content {
    margin-left: auto;
    margin-right: auto;
}

.fl-row-content-wrap {
    position: relative;
}

.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
    background-attachment: scroll;
}

.fl-row-bg-video, .fl-row-bg-video .fl-row-content, .fl-row-bg-embed, .fl-row-bg-embed .fl-row-content {
    position: relative;
}

    .fl-row-bg-video .fl-bg-video, .fl-row-bg-embed .fl-bg-embed-code {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
    }

        .fl-row-bg-video .fl-bg-video video, .fl-row-bg-embed .fl-bg-embed-code video {
            bottom: 0;
            left: 0px;
            max-width: none;
            position: absolute;
            right: 0;
            top: 0px;
        }

        .fl-row-bg-video .fl-bg-video iframe, .fl-row-bg-embed .fl-bg-embed-code iframe {
            pointer-events: none;
            width: 100vw;
            height: 56.25vw;
            max-width: none;
            min-height: 100vh;
            min-width: 177.77vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

.fl-bg-video-fallback {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.fl-row-bg-slideshow, .fl-row-bg-slideshow .fl-row-content {
    position: relative;
}

.fl-row .fl-bg-slideshow {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.fl-builder-edit .fl-row .fl-bg-slideshow * {
    bottom: 0;
    height: auto !important;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
}

.fl-row-bg-overlay .fl-row-content-wrap:after {
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.fl-row-bg-overlay .fl-row-content {
    position: relative;
    z-index: 1;
}

.fl-row-custom-height .fl-row-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.fl-row-overlap-top .fl-row-content-wrap {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
}

.fl-row-custom-height .fl-row-content-wrap {
    min-height: 0;
}

.fl-row-full-height .fl-row-content, .fl-row-custom-height .fl-row-content {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.fl-row-full-height .fl-row-full-width.fl-row-content, .fl-row-custom-height .fl-row-full-width.fl-row-content {
    max-width: 100%;
    width: 100%;
}

.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile), .fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content-wrap {
    height: auto;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content {
    flex: 0 0 auto;
    flex-basis: 100%;
    margin: 0;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content {
    margin: 0 auto;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height), .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.fl-row-full-height.fl-row-align-center .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
    align-items: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    -ms-flex-align: end;
    -ms-flex-pack: end;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.fl-col-group-equal-height, .fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.fl-col-group-equal-height {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

    .fl-col-group-equal-height.fl-col-group-has-child-loading {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {
        -webkit-box-flex: 1 1 auto;
        -moz-box-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .fl-col-group-equal-height .fl-col-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        flex-shrink: 1;
        min-width: 1px;
        max-width: 100%;
        width: 100%;
    }

        .fl-col-group-equal-height:before, .fl-col-group-equal-height .fl-col:before, .fl-col-group-equal-height .fl-col-content:before, .fl-col-group-equal-height:after, .fl-col-group-equal-height .fl-col:after, .fl-col-group-equal-height .fl-col-content:after {
            content: none;
        }

    .fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
        align-items: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
    }

    .fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        -webkit-box-align: end;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    }

    .fl-col-group-equal-height.fl-col-group-align-center .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
        width: 100%;
    }

    .fl-builder-ie-11 .fl-col-group-equal-height, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content, .fl-builder-ie-11 .fl-col-group-equal-height .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
        min-height: 1px;
    }

.fl-col {
    float: left;
    min-height: 1px;
}

.fl-col-bg-overlay .fl-col-content {
    position: relative;
}

    .fl-col-bg-overlay .fl-col-content:after {
        border-radius: inherit;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

.fl-col-bg-overlay .fl-module {
    position: relative;
    z-index: 2;
}

.fl-module img {
    max-width: 100%;
}

.fl-builder-module-template {
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px;
}

.fl-builder-content a.fl-button, .fl-builder-content a.fl-button:visited {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
}

.fl-builder-content .fl-button:hover {
    text-decoration: none;
}

.fl-builder-content .fl-button:active {
    position: relative;
    top: 1px;
}

.fl-builder-content .fl-button-width-full .fl-button {
    display: block;
    text-align: center;
}

.fl-builder-content .fl-button-width-custom .fl-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.fl-builder-content .fl-button-left {
    text-align: left;
}

.fl-builder-content .fl-button-center {
    text-align: center;
}

.fl-builder-content .fl-button-right {
    text-align: right;
}

.fl-builder-content .fl-button i {
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}

    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: 8px;
        margin-right: 0;
    }

.fl-builder-content .fl-button-has-icon .fl-button-text {
    vertical-align: middle;
}

.fl-icon-wrap {
    display: inline-block;
}

.fl-icon {
    display: table-cell;
    vertical-align: middle;
}

    .fl-icon a {
        text-decoration: none;
    }

    .fl-icon i {
        float: right;
        height: auto;
        width: auto;
    }

        .fl-icon i:before {
            border: none !important;
            height: auto;
            width: auto;
        }

.fl-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}

.fl-icon-text-empty {
    display: none;
}

.fl-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}

.fl-icon-text a {
    text-decoration: none;
}

.fl-icon-text span {
    display: block;
}

    .fl-icon-text span.mce-edit-focus {
        min-width: 1px;
    }

.fl-photo {
    line-height: 0;
    position: relative;
}

.fl-photo-align-left {
    text-align: left;
}

.fl-photo-align-center {
    text-align: center;
}

.fl-photo-align-right {
    text-align: right;
}

.fl-photo-content {
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
}

.fl-photo-img-svg {
    width: 100%;
}

.fl-photo-content img {
    display: inline;
    height: auto;
    max-width: 100%;
}

.fl-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fl-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}

.fl-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.fl-photo-content:hover .fl-photo-caption-hover {
    opacity: 100;
    filter: alpha(opacity = 100);
}

.fl-builder-pagination, .fl-builder-pagination-load-more {
    padding: 40px 0;
}

    .fl-builder-pagination ul.page-numbers {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .fl-builder-pagination li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .fl-builder-pagination li a.page-numbers, .fl-builder-pagination li span.page-numbers {
            border: 1px solid #e6e6e6;
            display: inline-block;
            padding: 5px 10px;
            margin: 0 0 5px;
        }

            .fl-builder-pagination li a.page-numbers:hover, .fl-builder-pagination li span.current {
                background: #f5f5f5;
                text-decoration: none;
            }

.fl-slideshow, .fl-slideshow * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

    .fl-slideshow .fl-slideshow-image img {
        max-width: none !important;
    }

.fl-slideshow-social {
    line-height: 0 !important;
}

    .fl-slideshow-social * {
        margin: 0 !important;
    }

.fl-builder-content .bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    left: 0;
}

.mfp-wrap button.mfp-arrow, .mfp-wrap button.mfp-arrow:active, .mfp-wrap button.mfp-arrow:hover, .mfp-wrap button.mfp-arrow:focus {
    background: transparent !important;
    border: none !important;
    outline: none;
    position: absolute;
    top: 50%;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.mfp-wrap .mfp-close, .mfp-wrap .mfp-close:active, .mfp-wrap .mfp-close:hover, .mfp-wrap .mfp-close:focus {
    background: transparent !important;
    border: none !important;
    outline: none;
    position: absolute;
    top: 0;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.admin-bar .mfp-wrap .mfp-close, .admin-bar .mfp-wrap .mfp-close:active, .admin-bar .mfp-wrap .mfp-close:hover, .admin-bar .mfp-wrap .mfp-close:focus {
    top: 32px !important;
}

img.mfp-img {
    padding: 0;
}

.mfp-counter {
    display: none;
}

.mfp-wrap .mfp-preloader.fa {
    font-size: 30px;
}

.fl-form-field {
    margin-bottom: 15px;
}

    .fl-form-field input.fl-form-error {
        border-color: #DD6420;
    }

.fl-form-error-message {
    clear: both;
    color: #DD6420;
    display: none;
    padding-top: 8px;
    font-size: 12px;
    font-weight: lighter;
}

.fl-form-button-disabled {
    opacity: 0.5;
}

.fl-animation {
    opacity: 0;
}

.fl-builder-preview .fl-animation, .fl-builder-edit .fl-animation, .fl-animated {
    opacity: 1;
}

.fl-animated {
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.fl-button.fl-button-icon-animation i {
    width: 0 !important;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.fl-button.fl-button-icon-animation:hover i {
    opacity: 1 !important;
    -ms-filter: "alpha(opacity=100)";
}

.fl-button.fl-button-icon-animation i.fl-button-icon-after {
    margin-left: 0px !important;
}

.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {
    margin-left: 10px !important;
}

.fl-button.fl-button-icon-animation i.fl-button-icon-before {
    margin-right: 0 !important;
}

.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {
    margin-right: 20px !important;
    margin-left: -10px;
}

.single:not(.woocommerce).single-fl-builder-template .fl-content {
    width: 100%;
}

.fl-builder-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
}

.fl-builder-shape-layer {
    z-index: 0;
}

    .fl-builder-shape-layer.fl-builder-bottom-edge-layer {
        z-index: 1;
    }

.fl-row-bg-overlay .fl-builder-shape-layer {
    z-index: 1;
}

    .fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer {
        z-index: 2;
    }

.fl-row-has-layers .fl-row-content {
    z-index: 1;
}

.fl-row-bg-overlay .fl-row-content {
    z-index: 2;
}

.fl-builder-layer > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fl-builder-layer + .fl-row-content {
    position: relative;
}

.fl-builder-layer .fl-shape {
    fill: #aaa;
    stroke: none;
    stroke-width: 0;
    width: 100%;
}

@supports (-webkit-touch-callout: inherit) {
    .fl-row.fl-row-bg-parallax .fl-row-content-wrap, .fl-row.fl-row-bg-fixed .fl-row-content-wrap {
        background-position: center !important;
        background-attachment: scroll !important;
    }
}

@supports (-webkit-touch-callout: none) {
    .fl-row.fl-row-bg-fixed .fl-row-content-wrap {
        background-position: center !important;
        background-attachment: scroll !important;
    }
}

.fl-row-content-wrap {
    margin: 0px;
}

.fl-row-content-wrap {
    padding: 20px;
}

.fl-row-fixed-width {
    max-width: 1100px;
}

.fl-col-content {
    margin: 0px;
}

.fl-col-content {
    padding: 0px;
}

.fl-module-content {
    margin: 20px;
}

@media (max-width: 992px) {
    body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-desktop, body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-desktop {
        display: none !important;
    }

    .fl-visible-desktop, .fl-visible-mobile, .fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-mobile.fl-col {
        display: none;
    }

    .fl-visible-desktop-medium, .fl-visible-medium, .fl-visible-medium-mobile, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col {
        display: block;
    }

    .fl-col-group-equal-height .fl-visible-desktop-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium-mobile.fl-col {
        display: flex;
    }
}

@media (max-width: 768px) {
    body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-desktop, body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-desktop, body.fl-builder-ie-11 .fl-row.fl-row-full-height.fl-visible-desktop-medium, body.fl-builder-ie-11 .fl-row.fl-row-custom-height.fl-visible-desktop-medium {
        display: none !important;
    }

    .fl-visible-desktop, .fl-visible-desktop-medium, .fl-visible-medium, .fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group-equal-height .fl-visible-desktop-medium.fl-col, .fl-col-group-equal-height .fl-visible-medium.fl-col {
        display: none;
    }

    .fl-visible-medium-mobile, .fl-visible-mobile, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col {
        display: block;
    }

    .fl-row-content-wrap {
        background-attachment: scroll !important;
    }

    .fl-row-bg-parallax .fl-row-content-wrap {
        background-attachment: scroll !important;
        background-position: center center !important;
    }

    .fl-col-group.fl-col-group-equal-height {
        display: block;
    }

        .fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

    .fl-col-group.fl-col-group-responsive-reversed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -ms-box-orient: horizontal;
        -webkit-flex-flow: row wrap;
    }

        .fl-col-group.fl-col-group-responsive-reversed .fl-col {
            -webkit-box-flex: 0 0 100%;
            -moz-box-flex: 0 0 100%;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            min-width: 0;
        }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
        -webkit-box-ordinal-group: 10;
        -moz-box-ordinal-group: 10;
        -ms-flex-order: 10;
        -webkit-order: 10;
        order: 10;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
        -webkit-box-ordinal-group: 9;
        -moz-box-ordinal-group: 9;
        -ms-flex-order: 9;
        -webkit-order: 9;
        order: 9;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
        -webkit-box-ordinal-group: 8;
        -moz-box-ordinal-group: 8;
        -ms-flex-order: 8;
        -webkit-order: 8;
        order: 8;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
        -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        -ms-flex-order: 7;
        -webkit-order: 7;
        order: 7;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        -ms-flex-order: 6;
        -webkit-order: 6;
        order: 6;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .fl-col {
        clear: both;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: auto !important;
    }

    .fl-col-small:not(.fl-col-small-full-width) {
        max-width: 400px;
    }

    .fl-block-col-resize {
        display: none;
    }

    .fl-row[data-node] .fl-row-content-wrap {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .fl-row[data-node] .fl-bg-video, .fl-row[data-node] .fl-bg-slideshow {
        left: 0;
        right: 0;
    }

    .fl-col[data-node] .fl-col-content {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.page .fl-post-header, .single-fl-builder-template .fl-post-header {
    display: none;
}

.fl-node-jak07ic354ew.fl-row-full-height > .fl-row-content-wrap, .fl-node-jak07ic354ew.fl-row-custom-height > .fl-row-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.fl-builder-edit .fl-node-jak07ic354ew.fl-row-full-height > .fl-row-content-wrap {
    min-height: calc( 100vh - 48px );
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .fl-node-jak07ic354ew.fl-row-full-height > .fl-row-content-wrap {
        min-height: 1024px;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .fl-node-jak07ic354ew.fl-row-full-height > .fl-row-content-wrap {
        min-height: 768px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    .fl-node-jak07ic354ew.fl-row-full-height > .fl-row-content-wrap {
        min-height: 500px;
    }
}

.fl-node-jak07ic354ew > .fl-row-content-wrap {
    background-color: #ffffff;
    background-image: url(../images/brd2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.fl-node-jak07ic354ew .fl-row-content {
    max-width: 1240px;
}

.fl-node-jak07ic354ew > .fl-row-content-wrap {
    padding-top: 90px;
    padding-bottom: 90px;
}

@media ( max-width: 768px ) {
    .fl-node-jak07ic354ew.fl-row > .fl-row-content-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.fl-node-jirgo84pselv.fl-row-full-height > .fl-row-content-wrap, .fl-node-jirgo84pselv.fl-row-custom-height > .fl-row-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.fl-builder-edit .fl-node-jirgo84pselv.fl-row-full-height > .fl-row-content-wrap {
    min-height: calc( 100vh - 48px );
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .fl-node-jirgo84pselv.fl-row-full-height > .fl-row-content-wrap {
        min-height: 1024px;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .fl-node-jirgo84pselv.fl-row-full-height > .fl-row-content-wrap {
        min-height: 768px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    .fl-node-jirgo84pselv.fl-row-full-height > .fl-row-content-wrap {
        min-height: 500px;
    }
}

.fl-node-jirgo84pselv .fl-row-content {
    max-width: 1240px;
}

.fl-node-jirgo84pselv > .fl-row-content-wrap {
    padding-top: 70px;
    padding-bottom: 70px;
}

@media ( max-width: 768px ) {
    .fl-node-jirgo84pselv.fl-row > .fl-row-content-wrap {
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 15px;
    }
}

.fl-node-fwlmnz4p1ugj.fl-row-full-height > .fl-row-content-wrap, .fl-node-fwlmnz4p1ugj.fl-row-custom-height > .fl-row-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.fl-builder-edit .fl-node-fwlmnz4p1ugj.fl-row-full-height > .fl-row-content-wrap {
    min-height: calc( 100vh - 48px );
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .fl-node-fwlmnz4p1ugj.fl-row-full-height > .fl-row-content-wrap {
        min-height: 1024px;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .fl-node-fwlmnz4p1ugj.fl-row-full-height > .fl-row-content-wrap {
        min-height: 768px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    .fl-node-fwlmnz4p1ugj.fl-row-full-height > .fl-row-content-wrap {
        min-height: 500px;
    }
}

.fl-node-fwlmnz4p1ugj > .fl-row-content-wrap {
    background-color: #f1f5f7;
}

.fl-node-fwlmnz4p1ugj .fl-row-content {
    max-width: 1240px;
}

.fl-node-fwlmnz4p1ugj > .fl-row-content-wrap {
    padding-top: 70px;
    padding-bottom: 70px;
}

@media ( max-width: 768px ) {
    .fl-node-fwlmnz4p1ugj.fl-row > .fl-row-content-wrap {
        padding-top: 50px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.fl-node-vp1cm4u7xj5l {
    width: 100%;
}

.fl-node-ydqscwvtax3n {
    width: 29%;
}

.fl-node-5gb1ur7tm8io {
    width: 100%;
}

.fl-node-bpvgs6awoj97 {
    width: 70%;
}

.fl-node-up2web0tyzrg {
    width: 100%;
}

    .fl-node-up2web0tyzrg > .fl-col-content {
        margin-left: 40px;
    }

.fl-node-wkfrge2mxul8 {
    width: 36.29%;
}

.fl-node-dcwgop23iuaf {
    width: 63.71%;
}

    .fl-node-dcwgop23iuaf > .fl-col-content {
        background-color: #22335e;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .fl-node-dcwgop23iuaf > .fl-col-content {
        padding-top: 12px;
    }

.fl-module-heading .fl-heading {
    padding: 0 !important;
    margin: 0 !important;
}

.fl-row .fl-col .fl-node-3ogh04dbvial h1.fl-heading a, .fl-row .fl-col .fl-node-3ogh04dbvial h1.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-3ogh04dbvial h1.fl-heading .fl-heading-text *, .fl-node-3ogh04dbvial h1.fl-heading .fl-heading-text {
    color: #ffffff;
}

.fl-node-3ogh04dbvial.fl-module-heading .fl-heading {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}

@media(max-width: 768px) {
    .fl-node-3ogh04dbvial.fl-module-heading .fl-heading {
        font-size: 30px;
    }
}

.fl-node-3ogh04dbvial > .fl-module-content {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fl-row .fl-col .fl-node-bq2t7f45ijdx h2.fl-heading a, .fl-row .fl-col .fl-node-bq2t7f45ijdx h2.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-bq2t7f45ijdx h2.fl-heading .fl-heading-text *, .fl-node-bq2t7f45ijdx h2.fl-heading .fl-heading-text {
    color: #ffffff;
}

.fl-node-bq2t7f45ijdx.fl-module-heading .fl-heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 27px;
    text-align: center;
}

@media(max-width: 768px) {
    .fl-node-bq2t7f45ijdx.fl-module-heading .fl-heading {
        font-size: 20px;
    }
}

.fl-node-bq2t7f45ijdx > .fl-module-content {
    margin-bottom: 0px;
}

img.mfp-img {
    padding-bottom: 40px !important;
}

@media (max-width: 768px) {
    .fl-photo-content {
        width: 100%;
    }
}

.fl-node-7kl5c9mxngtf .fl-photo {
    text-align: center;
}

.fl-node-7kl5c9mxngtf > .fl-module-content {
    margin-top: 0px;
    margin-right: -20px;
    margin-left: -20px;
}

@media (max-width: 768px) {
    .fl-node-7kl5c9mxngtf > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-row .fl-col .fl-node-3n0uax6wr1zb h4.fl-heading a, .fl-row .fl-col .fl-node-3n0uax6wr1zb h4.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-3n0uax6wr1zb h4.fl-heading .fl-heading-text *, .fl-node-3n0uax6wr1zb h4.fl-heading .fl-heading-text {
    color: #ffffff;
}

.fl-node-3n0uax6wr1zb.fl-module-heading .fl-heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
}

.fl-node-3n0uax6wr1zb > .fl-module-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fl-menu ul, .fl-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-menu .menu:before, .fl-menu .menu:after {
    content: '';
    display: table;
    clear: both;
}

.fl-menu-horizontal {
    text-align: left;
}

.fl-menu li {
    position: relative;
}

.fl-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

    .fl-menu a:hover {
        text-decoration: none;
    }

.fl-menu .sub-menu {
    min-width: 220px;
}

.fl-module[data-node] .fl-menu .fl-menu-expanded .sub-menu {
    background-color: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.fl-menu .fl-has-submenu:focus, .fl-menu .fl-has-submenu .sub-menu:focus, .fl-menu .fl-has-submenu-container:focus {
    outline: 0;
}

.fl-menu .fl-has-submenu-container {
    position: relative;
}

.fl-menu .fl-menu-accordion .fl-has-submenu > .sub-menu {
    display: none;
}

.fl-menu .fl-menu-accordion .fl-has-submenu.fl-active .hide-heading > .sub-menu {
    box-shadow: none;
    display: block !important;
}

.fl-menu .fl-menu-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
}

.fl-menu .fl-toggle-arrows .fl-menu-toggle:before, .fl-menu .fl-toggle-none .fl-menu-toggle:before {
    border-color: #333;
}

.fl-menu .fl-menu-expanded .fl-menu-toggle {
    display: none;
}

.fl-menu .fl-menu-mobile-toggle {
    position: relative;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #333;
    border-radius: 0;
}

    .fl-menu .fl-menu-mobile-toggle.text {
        width: 100%;
        text-align: center;
    }

    .fl-menu .fl-menu-mobile-toggle.hamburger .fl-menu-mobile-toggle-label, .fl-menu .fl-menu-mobile-toggle.hamburger-label .fl-menu-mobile-toggle-label {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }

    .fl-menu .fl-menu-mobile-toggle.hamburger .svg-container, .fl-menu .fl-menu-mobile-toggle.hamburger-label .svg-container {
        display: inline-block;
        position: relative;
        width: 1.4em;
        height: 1.4em;
        vertical-align: middle;
    }

    .fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu, .fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        .fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu rect, .fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
            fill: currentColor;
        }

li.mega-menu .hide-heading > a, li.mega-menu .hide-heading > .fl-has-submenu-container, li.mega-menu-disabled .hide-heading > a, li.mega-menu-disabled .hide-heading > .fl-has-submenu-container {
    display: none;
}

ul.fl-menu-horizontal li.mega-menu {
    position: static;
}

    ul.fl-menu-horizontal li.mega-menu > ul.sub-menu {
        top: inherit !important;
        left: 0 !important;
        right: 0 !important;
        width: 100%;
    }

    ul.fl-menu-horizontal li.mega-menu.fl-has-submenu:hover > ul.sub-menu, ul.fl-menu-horizontal li.mega-menu.fl-has-submenu.focus > ul.sub-menu {
        display: flex !important;
    }

    ul.fl-menu-horizontal li.mega-menu > ul.sub-menu li {
        border-color: transparent;
    }

    ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li {
        width: 100%;
    }

        ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a {
            font-weight: bold;
        }

            ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a:hover {
                background: transparent;
            }

    ul.fl-menu-horizontal li.mega-menu > ul.sub-menu .fl-menu-toggle {
        display: none;
    }

    ul.fl-menu-horizontal li.mega-menu > ul.sub-menu ul.sub-menu {
        background: transparent;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        display: block;
        min-width: 0;
        opacity: 1;
        padding: 0;
        position: static;
        visibility: visible;
    }

.fl-menu-mobile-clone {
    clear: both;
}

    .fl-menu-mobile-clone .fl-menu .menu {
        float: none !important;
    }

.fl-menu-mobile-close {
    display: none;
}

    .fl-menu-mobile-close, .fl-menu-mobile-close:hover, .fl-menu-mobile-close:focus {
        background: none;
        border: 0 none;
        color: inherit;
        font-size: 18px;
        padding: 10px 6px 10px 14px;
    }

.fl-builder-ie-11 .fl-module-menu .fl-menu-horizontal .fl-has-submenu:hover > .sub-menu {
    z-index: 60;
}

.fl-node-sg172nret05d .fl-menu .menu {
}

.fl-node-sg172nret05d .menu a {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.fl-node-sg172nret05d .menu > li > a:hover, .fl-node-sg172nret05d .menu > li > a:focus, .fl-node-sg172nret05d .menu > li > .fl-has-submenu-container:hover > a, .fl-node-sg172nret05d .menu > li > .fl-has-submenu-container.focus > a, .fl-node-sg172nret05d .menu > li.current-menu-item > a, .fl-node-sg172nret05d .menu > li.current-menu-item > .fl-has-submenu-container > a, .fl-node-sg172nret05d .sub-menu > li > a:hover, .fl-node-sg172nret05d .sub-menu > li > a:focus, .fl-node-sg172nret05d .sub-menu > li > .fl-has-submenu-container:hover > a, .fl-node-sg172nret05d .sub-menu > li > .fl-has-submenu-container.focus > a, .fl-node-sg172nret05d .sub-menu > li.current-menu-item > a, .fl-node-sg172nret05d .sub-menu > li.current-menu-item > .fl-has-submenu-container > a {
    background-color: #0877be;
    color: #ffffff;
}

.fl-node-sg172nret05d .fl-menu .fl-toggle-arrows .fl-has-submenu-container:hover > .fl-menu-toggle:before, .fl-node-sg172nret05d .fl-menu .fl-toggle-arrows .fl-has-submenu-container.focus > .fl-menu-toggle:before, .fl-node-sg172nret05d .fl-menu .fl-toggle-arrows li.current-menu-item > .fl-has-submenu-container > .fl-menu-toggle:before, .fl-node-sg172nret05d .fl-menu .fl-toggle-none .fl-has-submenu-container:hover > .fl-menu-toggle:before, .fl-node-sg172nret05d .fl-menu .fl-toggle-none .fl-has-submenu-container.focus > .fl-menu-toggle:before, .fl-node-sg172nret05d .fl-menu .fl-toggle-none li.current-menu-item > .fl-has-submenu-container > .fl-menu-toggle:before {
    border-color: #ffffff;
}

.fl-node-sg172nret05d .menu .fl-has-submenu .sub-menu {
    display: none;
}

.fl-node-sg172nret05d .fl-menu .sub-menu {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 20px rgba(0,0,0,0.1);
    box-shadow: 0 1px 20px rgba(0,0,0,0.1);
}

.fl-node-sg172nret05d .fl-menu-vertical.fl-toggle-arrows .fl-has-submenu-container a {
    padding-right: 28px;
}

.fl-node-sg172nret05d .fl-menu-vertical.fl-toggle-arrows .fl-menu-toggle, .fl-node-sg172nret05d .fl-menu-vertical.fl-toggle-none .fl-menu-toggle {
    width: 28px;
    height: 28px;
    margin: -14px 0 0;
}

.fl-node-sg172nret05d .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle, .fl-node-sg172nret05d .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle, .fl-node-sg172nret05d .fl-menu-vertical.fl-toggle-arrows .fl-menu-toggle, .fl-node-sg172nret05d .fl-menu-vertical.fl-toggle-none .fl-menu-toggle {
    width: 28px;
    height: 28px;
    margin: -14px 0 0;
}

.fl-node-sg172nret05d .fl-menu li {
    border-top: 1px solid transparent;
}

    .fl-node-sg172nret05d .fl-menu li:first-child {
        border-top: none;
    }

@media ( max-width: 768px ) {
    .fl-node-sg172nret05d .fl-menu .sub-menu {
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

    .fl-node-sg172nret05d .mega-menu.fl-active .hide-heading > .sub-menu, .fl-node-sg172nret05d .mega-menu-disabled.fl-active .hide-heading > .sub-menu {
        display: block !important;
    }

    .fl-node-sg172nret05d .fl-menu-logo, .fl-node-sg172nret05d .fl-menu-search-item {
        display: none;
    }

    .fl-node-sg172nret05d .sub-menu .menu-item a::before {
        content: '>';
        font-family: courier;
        margin-right: 5px;
    }
}

@media ( min-width: 769px ) {
    .fl-node-sg172nret05d .menu .fl-has-submenu .sub-menu {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }

    .fl-node-sg172nret05d .fl-menu .fl-has-submenu:hover > .sub-menu, .fl-node-sg172nret05d .fl-menu .fl-has-submenu.focus > .sub-menu {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .fl-node-sg172nret05d .menu .fl-has-submenu.fl-menu-submenu-right .sub-menu {
        left: inherit;
        right: 0;
    }

    .fl-node-sg172nret05d .menu .fl-has-submenu .fl-has-submenu.fl-menu-submenu-right .sub-menu {
        top: 0;
        left: inherit;
        right: 100%;
    }

    .fl-node-sg172nret05d .fl-menu .fl-has-submenu.fl-active > .fl-has-submenu-container .fl-menu-toggle {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .fl-node-sg172nret05d .fl-menu .fl-menu-toggle {
        display: none;
    }

    .fl-node-sg172nret05d ul.sub-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

        .fl-node-sg172nret05d ul.sub-menu a {
        }
}

.fl-node-sg172nret05d ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a:hover {
    color:;
}

.fl-node-sg172nret05d .fl-menu .menu, .fl-node-sg172nret05d .fl-menu .menu > li {
    font-size: 16px;
    line-height: 1;
}

.fl-node-sg172nret05d .fl-menu .sub-menu {
    font-size: 16px;
    line-height: 1;
}

@media(max-width: 768px) {
    .fl-node-sg172nret05d .fl-menu .sub-menu {
        background-color: transparent;
    }
}

.fl-node-sg172nret05d > .fl-module-content {
    margin-right: 10px;
    margin-left: 10px;
}

.fl-builder-content .fl-rich-text strong {
    font-weight: bold;
}

.fl-builder-content .fl-node-t156bdmnqe8g .fl-module-content .fl-rich-text, .fl-builder-content .fl-node-t156bdmnqe8g .fl-module-content .fl-rich-text * {
    color: #000000;
}

.fl-builder-content .fl-node-t156bdmnqe8g .fl-rich-text, .fl-builder-content .fl-node-t156bdmnqe8g .fl-rich-text *:not(b, strong) {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

@media ( max-width: 768px ) {
    .fl-node-t156bdmnqe8g.fl-module > .fl-module-content {
        margin-top: 40px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.fl-node-pmw7nf2l86u3 .fl-photo {
    text-align: center;
}

.fl-node-pmw7nf2l86u3 > .fl-module-content {
    margin-top: 0px;
}

@media ( max-width: 768px ) {
    .fl-node-pmw7nf2l86u3.fl-module > .fl-module-content {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

.fl-row .fl-col .fl-node-i86k2z4xfasw h2.fl-heading a, .fl-row .fl-col .fl-node-i86k2z4xfasw h2.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-i86k2z4xfasw h2.fl-heading .fl-heading-text *, .fl-node-i86k2z4xfasw h2.fl-heading .fl-heading-text {
    color: #0877be;
}

.fl-node-i86k2z4xfasw.fl-module-heading .fl-heading {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 38px;
}

@media(max-width: 768px) {
    .fl-node-i86k2z4xfasw.fl-module-heading .fl-heading {
        font-size: 25px;
    }
}

.fl-node-i86k2z4xfasw > .fl-module-content {
    margin-bottom: 0px;
}

@media ( max-width: 768px ) {
    .fl-node-i86k2z4xfasw.fl-module > .fl-module-content {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.fl-builder-content .fl-node-tv7w234hos0r .fl-module-content .fl-rich-text, .fl-builder-content .fl-node-tv7w234hos0r .fl-module-content .fl-rich-text * {
    color: #000000;
}

.fl-builder-content .fl-node-tv7w234hos0r .fl-rich-text, .fl-builder-content .fl-node-tv7w234hos0r .fl-rich-text *:not(b, strong) {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.fl-node-tv7w234hos0r > .fl-module-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media ( max-width: 768px ) {
    .fl-node-tv7w234hos0r.fl-module > .fl-module-content {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.fl-row .fl-col .fl-node-3ogbymn1dqjc h2.fl-heading a, .fl-row .fl-col .fl-node-3ogbymn1dqjc h2.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-3ogbymn1dqjc h2.fl-heading .fl-heading-text *, .fl-node-3ogbymn1dqjc h2.fl-heading .fl-heading-text {
    color: #0877be;
}

.fl-node-3ogbymn1dqjc.fl-module-heading .fl-heading {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 38px;
}

@media(max-width: 768px) {
    .fl-node-3ogbymn1dqjc.fl-module-heading .fl-heading {
        font-size: 25px;
    }
}

.fl-node-3ogbymn1dqjc > .fl-module-content {
    margin-bottom: 0px;
}

@media ( max-width: 768px ) {
    .fl-node-3ogbymn1dqjc.fl-module > .fl-module-content {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.fl-builder-content .fl-node-431sr6dvuka8 .fl-module-content .fl-rich-text, .fl-builder-content .fl-node-431sr6dvuka8 .fl-module-content .fl-rich-text * {
    color: #000000;
}

.fl-builder-content .fl-node-431sr6dvuka8 .fl-rich-text, .fl-builder-content .fl-node-431sr6dvuka8 .fl-rich-text *:not(b, strong) {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.fl-node-431sr6dvuka8 > .fl-module-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media ( max-width: 768px ) {
    .fl-node-431sr6dvuka8.fl-module > .fl-module-content {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.fl-builder-content .fl-node-7uf4lhbszc5e .fl-module-content .fl-rich-text, .fl-builder-content .fl-node-7uf4lhbszc5e .fl-module-content .fl-rich-text * {
    color: #000000;
}

.fl-builder-content .fl-node-7uf4lhbszc5e .fl-rich-text, .fl-builder-content .fl-node-7uf4lhbszc5e .fl-rich-text *:not(b, strong) {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.fl-node-7uf4lhbszc5e > .fl-module-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media ( max-width: 768px ) {
    .fl-node-7uf4lhbszc5e.fl-module > .fl-module-content {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.fl-row .fl-col .fl-node-zcy3ho64g7ek h2.fl-heading a, .fl-row .fl-col .fl-node-zcy3ho64g7ek h2.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-zcy3ho64g7ek h2.fl-heading .fl-heading-text *, .fl-node-zcy3ho64g7ek h2.fl-heading .fl-heading-text {
    color: #d92026;
}

.fl-node-zcy3ho64g7ek.fl-module-heading .fl-heading {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 38px;
}

@media(max-width: 768px) {
    .fl-node-zcy3ho64g7ek.fl-module-heading .fl-heading {
        font-size: 25px;
    }
}

.fl-node-zcy3ho64g7ek > .fl-module-content {
    margin-bottom: 0px;
}

@media ( max-width: 768px ) {
    .fl-node-zcy3ho64g7ek.fl-module > .fl-module-content {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.fl-builder-content .fl-node-we2671ozfqpx .fl-module-content .fl-rich-text, .fl-builder-content .fl-node-we2671ozfqpx .fl-module-content .fl-rich-text * {
    color: #000000;
}

.fl-builder-content .fl-node-we2671ozfqpx .fl-rich-text, .fl-builder-content .fl-node-we2671ozfqpx .fl-rich-text *:not(b, strong) {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.fl-node-we2671ozfqpx > .fl-module-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media ( max-width: 768px ) {
    .fl-node-we2671ozfqpx.fl-module > .fl-module-content {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.fl-node-8g2lrq4ajdn5 .fl-photo {
    text-align: left;
}

@media(max-width: 768px) {
    .fl-node-8g2lrq4ajdn5 .fl-photo {
        text-align: center;
    }
}

.fl-node-8g2lrq4ajdn5 > .fl-module-content {
    margin-top: 0px;
}

.fl-row .fl-col .fl-node-bsecovg6k9in h2.fl-heading a, .fl-row .fl-col .fl-node-bsecovg6k9in h2.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-bsecovg6k9in h2.fl-heading .fl-heading-text *, .fl-node-bsecovg6k9in h2.fl-heading .fl-heading-text {
    color: #1a3c6a;
}

.fl-node-bsecovg6k9in.fl-module-heading .fl-heading {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 36px;
}

@media(max-width: 768px) {
    .fl-node-bsecovg6k9in.fl-module-heading .fl-heading {
        font-size: 25px;
        text-align: center;
    }
}

.fl-node-bsecovg6k9in > .fl-module-content {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media ( max-width: 768px ) {
    .fl-node-bsecovg6k9in.fl-module > .fl-module-content {
        margin-bottom: 30px;
    }
}

.fl-builder-content .fl-node-z45ocytsgu8m .fl-module-content .fl-rich-text, .fl-builder-content .fl-node-z45ocytsgu8m .fl-module-content .fl-rich-text * {
    color: #ffffff;
}

.fl-builder-content .fl-node-z45ocytsgu8m .fl-rich-text, .fl-builder-content .fl-node-z45ocytsgu8m .fl-rich-text *:not(b, strong) {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.fl-node-z45ocytsgu8m > .fl-module-content {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

@media (max-width: 768px) {
    .fl-node-z45ocytsgu8m > .fl-module-content {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}

.bt a {
    box-shadow: 0px 3px 10px 0px rgba(177, 30, 36, 0.129);
}

.footer-sl {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    text-align: center;
}

    .footer-sl li {
        list-style-type: none;
        position: relative;
        align-items: center;
        margin: 0 20px 0px;
        display: inline-block;
    }

        .footer-sl li img {
            max-width: 190px;
        }

.header-list {
    float: left;
    width: 100%;
    text-align: center;
}

    .header-list li {
        display: inline-block;
        margin: 0 0px 0px;
        padding: 0 0 15px 0px;
    }

        .header-list li span {
            display: list-item;
            list-style-type: disc;
            list-style-position: inside;
            padding-right: 20px;
        }

.border-heading .fl-heading-text {
    border-bottom: 2px solid #e14b45;
}

.wpcf7-response-output {
    float: left;
}

.heading-sh .fl-heading-text {
    text-shadow: 0.5px 0.866px 2.94px rgba(0, 0, 0, 0.137);
}

.lite-border .fl-heading-text {
    border-bottom: 1px solid #767676;
}

.list-bl {
    margin: 0px;
    padding: 0px;
}

    .list-bl li {
        list-style-type: none;
        margin: 0px;
        padding: 0 0 10px 40px;
        background: url(https://416heating.ca/wp-content/uploads/2022/01/list-bl-icon.png) no-repeat 0px 4px;
    }

.Rounded_Rectangle_8 {
    border-radius: 20px;
    background-color: rgb(26, 60, 106);
    position: absolute;
    left: 359px;
    top: 2246px;
    width: 1200px;
    height: 302px;
    z-index: 234;
}

.left-border p:nth-child(1) {
    padding-top: 5px;
}

.left-border p {
    padding-top: 20px;
}

.left-border .fl-node-content {
    border-left: 2px solid #d92026;
    padding-left: 20px;
}

.box-inner {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.086);
}

    .box-inner ul {
        margin: 0px 31px 0px 0px;
        padding: 0px;
        float: left;
        width: 29%;
    }

        .box-inner ul li {
            list-style-type: none;
            margin: 0px;
            padding: 0 0 20px 40px;
            background: url(https://416heating.ca/wp-content/uploads/2022/01/box-list.png) no-repeat 0px 4px;
        }

.footer-box {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.086);
}

.form-box {
    border-radius: 6px;
    box-shadow: 1px 1.732px 4.95px 0.05px rgba(195, 195, 195, 0.294);
}

.form-row {
    margin: 0px;
    padding: 0px 0 10px 0px;
    float: left;
    width: 100%;
}

    .form-row .main-in {
        margin: 0px !important;
        border-style: solid !important;
        border-width: 1px !important;
        border-color: rgb(196, 196, 196) !important;
        border-radius: 3px !important;
        height: 40px !important;
        width: 100% !important;
        float: left !important;
        background-color: rgb(255, 255, 255) !important;
        font-family: Poppins, sans-serif !important;
        color: #000 !important;
    }

    .form-row p {
        margin: 0px;
        padding: 0 0 5px 0px;
        float: left;
        width: 100%;
        font-size: 15px;
        color: #484848;
        font-weight: 400;
        font-family: Poppins, sans-serif;
    }

    .form-row .message {
        margin: 0px !important;
        border-style: solid !important;
        border-width: 1px !important;
        border-color: rgb(196, 196, 196) !important;
        border-radius: 3px !important;
        background-color: rgb(255, 255, 255) !important;
        float: left !important;
        width: 100% !important;
        font-family: Poppins, sans-serif !important;
        color: #000 !important;
        height: 110px !important;
    }

.form-bt {
    border-radius: 3px !important;
    background-color: rgb(26, 124, 234) !important;
    width: 100% !important;
    height: 49px !important;
    float: left !important;
    width: 100% !important;
    border-bottom: 3px solid #0e5099 !important;
    color: #fff !important;
    font-weight: 400 !important;
    font-family: Poppins, sans-serif !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

    .form-bt:hover {
        background: #0e5099 !important;
    }

.sidebar-menu {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1.732px 25px 0px rgba(0, 0, 0, 0.043);
    overflow: hidden;
}

    .sidebar-menu ul {
        margin: 0px;
        padding: 0px;
    }

        .sidebar-menu ul li {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

            .sidebar-menu ul li a {
                float: left;
                width: 100%;
                margin: 0px;
                padding: 15px 0px;
                color: #000;
                font-size: 17px;
                border-bottom: 1px solid #b5b5b5;
                background: url(https://416heating.ca/wp-content/uploads/2022/01/arrow-menu.png) no-repeat 96% #fff;
                font-family: Poppins, sans-serif !important;
            }

                .sidebar-menu ul li a:hover {
                    text-decoration: none;
                    color: #0977be;
                }

.sidebar-heading {
    background: #0977be;
}

.contact-box {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1.732px 25px 0px rgba(0, 0, 0, 0.043);
    overflow: hidden;
}

.form-contact-main {
    max-width: 80%;
    margin: auto;
}

#wpcf7-f136-p29-o1 {
    margin: 0px;
    padding: 30px;
    background: url(https://416heating.ca/wp-content/uploads/2022/01/form-back.png) repeat;
    float: left;
    width: 100%;
    border-radius: 20px;
}

    #wpcf7-f136-p29-o1 h3 {
        margin: 0px;
        padding: 0px 0 20px 0px;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
    }

    #wpcf7-f136-p29-o1 .in-row {
        margin: 0px;
        padding: 0px 0 20px 0px;
        float: left;
        width: 100%;
    }

        #wpcf7-f136-p29-o1 .in-row .in-put {
            margin: 0px !important;
            border-radius: 5px !important;
            background-color: rgb(255, 255, 255) !important;
            height: 50px !important;
            float: left !important;
            width: 100% !important;
            color: #000 !important;
            font-size: 18px !important;
            font-weight: 400 !important;
            font-family: Poppins, sans-serif !important;
        }

        #wpcf7-f136-p29-o1 .in-row .message {
            margin: 0px !important;
            float: left !important;
            width: 100% !important;
            border-radius: 5px !important;
            background-color: rgb(255, 255, 255) !important;
            height: 80px !important;
            color: #000 !important;
            font-size: 18px !important;
            font-weight: 400 !important;
            font-family: Poppins, sans-serif !important;
        }

    #wpcf7-f136-p29-o1 .bt-row {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 100%;
        text-align: center;
    }

    #wpcf7-f136-p29-o1 .button-sb {
        border-radius: 5px !important;
        background-color: rgb(145, 188, 82) !important;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.086) !important;
        width: 100% !important;
        height: 60px !important;
        border: 0px !important;
        text-align: center !important;
        color: #fff !important;
        font-size: 20px !important;
        font-weight: 700 !important;
        font-family: Poppins, sans-serif !important;
        cursor: pointer;
    }

        #wpcf7-f136-p29-o1 .button-sb:hover {
            background: #000 !important;
        }

    #wpcf7-f136-p29-o1 .wpcf7-response-output {
        color: #fff;
    }

@media screen and (min-width: 2px) and (max-width: 768px) {
    .fl-node-yjkubrf367ns > .fl-module-content a {
        width: 320px !important;
    }

    #menu-main-menu li a {
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }

    .box-inner ul {
        width: 100%;
    }

    .fl-flyout-left .fl-menu-mobile-close {
        font-size: 20px !important;
        color: #fff !important;
    }

    .form-contact-main {
        max-width: 100% !important;
    }

    .fl-node-ceyor9m24zwu .fl-menu-mobile-toggle {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}

.sr-hide {
    display: none;
}
